@keyframes ldio-42ninjqcgp4 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.ldio-42ninjqcgp4 div {
  position: absolute;
  width: 10px;
  height: 40px;
  top: 30px;
  animation: ldio-42ninjqcgp4 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.ldio-42ninjqcgp4 div:nth-child(1) {
  transform: translate(15px, 0);
  background: #e15b64;
  animation-delay: -0.6s;
}
.ldio-42ninjqcgp4 div:nth-child(2) {
  transform: translate(35px, 0);
  background: #f47e60;
  animation-delay: -0.4s;
}
.ldio-42ninjqcgp4 div:nth-child(3) {
  transform: translate(55px, 0);
  background: #f8b26a;
  animation-delay: -0.2s;
}
.ldio-42ninjqcgp4 div:nth-child(4) {
  transform: translate(75px, 0);
  background: #abbd81;
  animation-delay: -1s;
}
.loadingio-spinner-bars-wbxz0i13iq {
  width: 80px;
  height: 80px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-42ninjqcgp4 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.8);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-42ninjqcgp4 div {
  box-sizing: content-box;
}
